.Shopcar{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 3rem;
}

.ShopForm{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 4rem;
height: auto;
width: auto;
}

.MuiFormControl-root, MuiTextField-root css-1u3bzj6-MuiFormControl-root-MuiTextField-root{

width: 20rem;

}