


.itemListContainer h2, ul, li{

display: flex;

color: white;
list-style-type: none;
text-decoration: none;
justify-content: center;
flex-direction: row;
align-items: center;
}

.itemListContainer li{
color: black;
    background-color: aquamarine;
    }