.divCar{

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
background-color: white;
color: black;
margin-top: 1rem;
margin-bottom: 1 rem;
width: 100%;

}
.divCar h2, h3, p{
    
    background-color: white;
    color: black;
}